
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Practica03</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>

<body>

    <header id="header" class="header d-flex align-items-center fixed-top bg-white shadow-sm">
        <div class="container-fluid container-xl d-flex align-items-center">

            <a href="@Url.Action("Index","Home")" class="logo d-flex align-items-center me-auto">
                <h1 class="sitename mb-0">QuickPay Co. Grupo 4</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                    <li><a href="@Url.Action("Index","Consulta")">Consulta</a></li>
                    <li><a href="@Url.Action("Create","Abonos")">Registro</a></li>
                    @*<li><a href="@Url.Action("Abonos","Home")">Abonos</a></li>
                    <li><a href="@Url.Action("Principal","Home")">Compras</a></li>*@

                </ul>
            </nav>

        </div>
    </header>

    <main class="container pt-5 mt-5">
        @RenderBody()
    </main>

    <footer class="footer mt-5 py-3 bg-light border-top">
        <div class="container text-center">
            <small class="text-muted">
                © @DateTime.Now.Year - Práctica 03 | Programación Avanzada
            </small>
        </div>
    </footer>

    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
